<%= form_for(@sheet) do |f| %>
  <% if @sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
      <% @sheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<p>Player Name: <%= Player.find(session[:player_id]).name %></p>
  
	<p>Game Name: <%= Game.find(session[:game_id]).name %></p>

  <div class="field">
    <%= f.label :q_who, "Who" %><br />
    <%= f.text_field :q_who %>
  </div>
 <div class="field">
    <%= f.label :a_who, "Answer:" %><br />
    <%= f.text_field :a_who %>
  </div>
  <div class="field">
    <%= f.label :q_what, "What" %><br />
    <%= f.text_field :q_what %>
  </div>
  <div class="field">
    <%= f.label :a_what, "Answer:" %><br />
    <%= f.text_field :a_what %>
  </div>
  <div class="field">
    <%= f.label :q_where, "Where" %><br />
    <%= f.text_field :q_where %>
  </div>
<div class="field">
    <%= f.label :a_where, "Answer:" %><br />
    <%= f.text_field :a_where %>
  </div>
  <div class="field">
    <%= f.label :q_when, "When" %><br />
    <%= f.text_field :q_when %>
  </div>
<div class="field">
    <%= f.label :a_when, "Answer:" %><br />
    <%= f.text_field :a_when %>
  </div>
  <div class="field">
    <%= f.label :q_why, "Why" %><br />
    <%= f.text_field :q_why %>
  </div>
  <div class="field">
    <%= f.label :a_why, "Answer:" %><br />
    <%= f.text_field :a_why %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
