<p id="notice"><%= notice %></p>

<p>
  <!-- <b>Player:</b>
    <%#= Player.find_by_id(@sheet.player_id).name %>
  </p>

  <p>
    <b>Game Name:</b>
    <%#= Game.find_by_id(@sheet.game_id).name %> -->
</p>
<br>
<p>
  <b>Who</b>
  <%= @sheet.q_who %>
</p>

<p>
  <b>Answer:</b>
  <%= @sheet.a_who %>
</p>
<br>
<p>
  <b>What</b>
  <%= @sheet.q_what %>
</p>

<p>
  <b>Answer:</b>
  <%= @sheet.a_what %>
</p>
<br>
<p>
  <b>Where</b>
  <%= @sheet.q_where %>
</p>

<p>
  <b>Answer:</b>
  <%= @sheet.a_where %>
</p>
<br>
<p>
  <b>When</b>
  <%= @sheet.q_when %>
</p>

<p>
  <b>Answer:</b>
  <%= @sheet.a_when %>
</p>
<br>
<p>
  <b>Why</b>
  <%= @sheet.q_why %>
</p>

<p>
  <b>Answer:</b>
  <%= @sheet.a_why %>
</p>

<br>
<%= button_to 'Looks Good, Mash It Up!', mashup_game_url(@sheet.game_id), :method => :get, :class => "btn-primary" %>
