<h1>Here's Your MashLib!</h1>

<p>
  <b>Who</b>
  <%= @mashup[:q_who] %>
</p>

<p>
  <b>Answer:</b>
  <%= @mashup[:a_who] %>
</p>
<br>
<p>
  <b>What</b>
  <%= @mashup[:q_what] %>
</p>

<p>
  <b>Answer:</b>
  <%= @mashup[:a_what] %>
</p>
<br>
<p>
  <b>Where</b>
  <%= @mashup[:q_where] %>
</p>

<p>
  <b>Answer:</b>
  <%= @mashup[:a_where] %>
</p>
<br>
<p>
  <b>When</b>
  <%= @mashup[:q_when] %>
</p>

<p>
  <b>Answer:</b>
  <%= @mashup[:a_when] %>
</p>
<br>
<p>
  <b>Why</b>
  <%= @mashup[:q_why] %>
</p>

<p>
  <b>Answer:</b>
  <%= @mashup[:a_why] %>
</p>
